user-view {
    display: inline-flex;
    border: solid #1d9ce5 2px;
    height: 300px;
}

user-view,
.user {
    padding: 15px;
    vertical-align: middle;
    background-color: #f0f0fa;
    width: 100%;
}

.user-wrapper {
    padding: 15px;
}

.container {
    background-color: #f2f2f2;
}

